html {
  color: black;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hero {
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 100px;
  text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
}
